<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-mail-log-heading" jhiTranslate="qeeperApp.mailLog.home.createOrEditLabel">Create or edit a Mail Log</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mailLog.subject" for="field_subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="field_subject"
                           formControlName="subject"/>
                    <div *ngIf="editForm.get('subject').invalid && (editForm.get('subject').dirty || editForm.get('subject').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('subject').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('subject').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 400 }">
                        This field cannot be longer than 400 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mailLog.content" for="field_content">Content</label>
                    <input type="text" class="form-control" name="content" id="field_content"
                           formControlName="content"/>
                    <div *ngIf="editForm.get('content').invalid && (editForm.get('content').dirty || editForm.get('content').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('content').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mailLog.mailDate" for="field_mailDate">Mail Date</label>
                    <div class="d-flex">
                        <input id="field_mailDate" type="datetime-local" class="form-control" name="mailDate" formControlName="mailDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mailLog.mailServer" for="field_mailServer">Mail Server</label>
                    <select class="form-control" name="mailServer" formControlName="mailServer" id="field_mailServer">
                        <option value="PRIMARY">{{'qeeperApp.MailServer.PRIMARY' | translate}}</option>
                        <option value="SECONDARY">{{'qeeperApp.MailServer.SECONDARY' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mailLog.responseReceived" for="field_responseReceived">Response Received</label>
                    <input type="text" class="form-control" name="responseReceived" id="field_responseReceived"
                           formControlName="responseReceived"/>
                    <div *ngIf="editForm.get('responseReceived').invalid && (editForm.get('responseReceived').dirty || editForm.get('responseReceived').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('responseReceived').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mailLog.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                    <div *ngIf="editForm.get('remarks').invalid && (editForm.get('remarks').dirty || editForm.get('remarks').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('remarks').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mailLog.toList" for="field_toList">To List</label>
                    <input type="text" class="form-control" name="toList" id="field_toList"
                           formControlName="toList"/>
                    <div *ngIf="editForm.get('toList').invalid && (editForm.get('toList').dirty || editForm.get('toList').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('toList').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mailLog.ccList" for="field_ccList">Cc List</label>
                    <input type="text" class="form-control" name="ccList" id="field_ccList"
                           formControlName="ccList"/>
                    <div *ngIf="editForm.get('ccList').invalid && (editForm.get('ccList').dirty || editForm.get('ccList').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ccList').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mailLog.processingTime" for="field_processingTime">Processing Time</label>
                    <input type="number" class="form-control" name="processingTime" id="field_processingTime"
                           formControlName="processingTime"/>
                    <div *ngIf="editForm.get('processingTime').invalid && (editForm.get('processingTime').dirty || editForm.get('processingTime').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('processingTime').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('processingTime')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
