<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mailLog">
            <h2><span jhiTranslate="qeeperApp.mailLog.detail.title">Mail Log</span> {{mailLog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qeeperApp.mailLog.subject">Subject</span></dt>
                <dd>
                    <span>{{mailLog.subject}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mailLog.content">Content</span></dt>
                <dd>
                    <span>{{mailLog.content}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mailLog.mailDate">Mail Date</span></dt>
                <dd>
                    <span>{{mailLog.mailDate}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mailLog.mailServer">Mail Server</span></dt>
                <dd>
                    <span jhiTranslate="{{'qeeperApp.MailServer.' + mailLog.mailServer}}">{{mailLog.mailServer}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mailLog.responseReceived">Response Received</span></dt>
                <dd>
                    <span>{{mailLog.responseReceived}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mailLog.remarks">Remarks</span></dt>
                <dd>
                    <span>{{mailLog.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mailLog.toList">To List</span></dt>
                <dd>
                    <span>{{mailLog.toList}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mailLog.ccList">Cc List</span></dt>
                <dd>
                    <span>{{mailLog.ccList}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mailLog.processingTime">Processing Time</span></dt>
                <dd>
                    <span>{{mailLog.processingTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mail-log', mailLog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
