<div>
    <h2 id="page-heading">
        <span jhiTranslate="qeeperApp.mailLog.home.title">Mail Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mail-log" [routerLink]="['/mail-log/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="qeeperApp.mailLog.home.createLabel">
            Create new Mail Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mailLogs?.length === 0">
        <span jhiTranslate="qeeperApp.mailLog.home.notFound">No mailLogs found</span>
    </div>
    <div class="table-responsive" *ngIf="mailLogs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subject"><span jhiTranslate="qeeperApp.mailLog.subject">Subject</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="content"><span jhiTranslate="qeeperApp.mailLog.content">Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mailDate"><span jhiTranslate="qeeperApp.mailLog.mailDate">Mail Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mailServer"><span jhiTranslate="qeeperApp.mailLog.mailServer">Mail Server</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="responseReceived"><span jhiTranslate="qeeperApp.mailLog.responseReceived">Response Received</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="qeeperApp.mailLog.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="toList"><span jhiTranslate="qeeperApp.mailLog.toList">To List</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ccList"><span jhiTranslate="qeeperApp.mailLog.ccList">Cc List</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="processingTime"><span jhiTranslate="qeeperApp.mailLog.processingTime">Processing Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mailLog of mailLogs ;trackBy: trackId">
                <td><a [routerLink]="['/mail-log', mailLog.id, 'view' ]">{{mailLog.id}}</a></td>
                <td>{{mailLog.subject}}</td>
                <td>{{mailLog.content}}</td>
                <td>{{mailLog.mailDate | date:'medium'}}</td>
                <td jhiTranslate="{{'qeeperApp.MailServer.' + mailLog.mailServer}}">{{mailLog.mailServer}}</td>
                <td>{{mailLog.responseReceived}}</td>
                <td>{{mailLog.remarks}}</td>
                <td>{{mailLog.toList}}</td>
                <td>{{mailLog.ccList}}</td>
                <td>{{mailLog.processingTime}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/mail-log', mailLog.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mail-log', mailLog.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'mail-log', { outlets: { popup: mailLog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="mailLogs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
