<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nonBankClient">
            <h2><span jhiTranslate="qeeperApp.nonBankClient.detail.title">Non Bank Client</span> {{nonBankClient.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qeeperApp.nonBankClient.name">Name</span></dt>
                <dd>
                    <span>{{nonBankClient.name}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankClient.url">Url</span></dt>
                <dd>
                    <span>{{nonBankClient.url}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/non-bank-client', nonBankClient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
