<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cardGroup">
            <h2><span jhiTranslate="qeeperApp.cardGroup.detail.title">Card Group</span> {{cardGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qeeperApp.cardGroup.code">Code</span></dt>
                <dd>
                    <span>{{cardGroup.code}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.cardGroup.name">Name</span></dt>
                <dd>
                    <span>{{cardGroup.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/card-group', cardGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
