<div>
    <h2 id="page-heading">
        <span jhiTranslate="qeeperApp.escalationMatrix.home.title">Escalation Matrices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-escalation-matrix" [routerLink]="['/escalation-matrix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="qeeperApp.escalationMatrix.home.createLabel">
            Create new Escalation Matrix
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="escalationMatrices?.length === 0">
        <span jhiTranslate="qeeperApp.escalationMatrix.home.notFound">No escalationMatrices found</span>
    </div>
    <div class="table-responsive" *ngIf="escalationMatrices?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="escalationType"><span jhiTranslate="qeeperApp.escalationMatrix.escalationType">Escalation Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="level"><span jhiTranslate="qeeperApp.escalationMatrix.level">Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="receiveSms"><span jhiTranslate="qeeperApp.escalationMatrix.receiveSms">Receive Sms</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="receiveEmail"><span jhiTranslate="qeeperApp.escalationMatrix.receiveEmail">Receive Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contactPersonName"><span jhiTranslate="qeeperApp.escalationMatrix.contactPerson">Contact Person</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let escalationMatrix of escalationMatrices ;trackBy: trackId">
                <td><a [routerLink]="['/escalation-matrix', escalationMatrix.id, 'view' ]">{{escalationMatrix.id}}</a></td>
                <td jhiTranslate="{{'qeeperApp.EscalationType.' + escalationMatrix.escalationType}}">{{escalationMatrix.escalationType}}</td>
                <td>{{escalationMatrix.level}}</td>
                <td>{{escalationMatrix.receiveSms}}</td>
                <td>{{escalationMatrix.receiveEmail}}</td>
                <td>
                    <div *ngIf="escalationMatrix.contactPersonId">
                        <a [routerLink]="['../contact-person', escalationMatrix.contactPersonId , 'view' ]" >{{escalationMatrix.contactPersonName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/escalation-matrix', escalationMatrix.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/escalation-matrix', escalationMatrix.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'escalation-matrix', { outlets: { popup: escalationMatrix.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="escalationMatrices?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
