<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-escalation-matrix-heading" jhiTranslate="qeeperApp.escalationMatrix.home.createOrEditLabel">Create or edit a Escalation Matrix</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.escalationMatrix.escalationType" for="field_escalationType">Escalation Type</label>
                    <select class="form-control" name="escalationType" formControlName="escalationType" id="field_escalationType">
                        <option value="PASSWORD_EXPIRE">{{'qeeperApp.EscalationType.PASSWORD_EXPIRE' | translate}}</option>
                        <option value="ACCOUNT_NOT_WORKING">{{'qeeperApp.EscalationType.ACCOUNT_NOT_WORKING' | translate}}</option>
                        <option value="OTHER">{{'qeeperApp.EscalationType.OTHER' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('escalationType').invalid && (editForm.get('escalationType').dirty || editForm.get('escalationType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('escalationType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.escalationMatrix.level" for="field_level">Level</label>
                    <input type="number" class="form-control" name="level" id="field_level"
                           formControlName="level"/>
                    <div *ngIf="editForm.get('level').invalid && (editForm.get('level').dirty || editForm.get('level').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('level').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('level').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('level').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('level')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.escalationMatrix.receiveSms" for="field_receiveSms">Receive Sms</label>
                    <input type="checkbox" class="form-control" name="receiveSms" id="field_receiveSms"
                           formControlName="receiveSms"/>
                    <div *ngIf="editForm.get('receiveSms').invalid && (editForm.get('receiveSms').dirty || editForm.get('receiveSms').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('receiveSms').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.escalationMatrix.receiveEmail" for="field_receiveEmail">Receive Email</label>
                    <input type="checkbox" class="form-control" name="receiveEmail" id="field_receiveEmail"
                           formControlName="receiveEmail"/>
                    <div *ngIf="editForm.get('receiveEmail').invalid && (editForm.get('receiveEmail').dirty || editForm.get('receiveEmail').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('receiveEmail').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.escalationMatrix.contactPerson" for="field_contactPerson">Contact Person</label>
                    <select class="form-control" id="field_contactPerson" name="contactPerson" formControlName="contactPersonId">
                        <option *ngIf="!editForm.get('contactPersonId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="contactPersonOption.id" *ngFor="let contactPersonOption of contactpeople; trackBy: trackContactPersonById">{{contactPersonOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('contactPersonId').invalid && (editForm.get('contactPersonId').dirty || editForm.get('contactPersonId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('contactPersonId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
