<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="escalationMatrix">
            <h2><span jhiTranslate="qeeperApp.escalationMatrix.detail.title">Escalation Matrix</span> {{escalationMatrix.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qeeperApp.escalationMatrix.escalationType">Escalation Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'qeeperApp.EscalationType.' + escalationMatrix.escalationType}}">{{escalationMatrix.escalationType}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.escalationMatrix.level">Level</span></dt>
                <dd>
                    <span>{{escalationMatrix.level}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.escalationMatrix.receiveSms">Receive Sms</span></dt>
                <dd>
                    <span>{{escalationMatrix.receiveSms}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.escalationMatrix.receiveEmail">Receive Email</span></dt>
                <dd>
                    <span>{{escalationMatrix.receiveEmail}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.escalationMatrix.contactPerson">Contact Person</span></dt>
                <dd>
                    <div *ngIf="escalationMatrix.contactPersonId">
                        <a [routerLink]="['/contact-person', escalationMatrix.contactPersonId, 'view']">{{escalationMatrix.contactPersonName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/escalation-matrix', escalationMatrix.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
