<div>
    <h2 id="page-heading">
        <span jhiTranslate="qeeperApp.bankAccount.home.title">Bank Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bank-account" [routerLink]="['/bank-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="qeeperApp.bankAccount.home.createLabel">
            Create new Bank Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="bankAccounts?.length === 0">
        <span jhiTranslate="qeeperApp.bankAccount.home.notFound">No bankAccounts found</span>
    </div>
    <div class="table-responsive" *ngIf="bankAccounts?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateOfOpening"><span jhiTranslate="qeeperApp.bankAccount.dateOfOpening">Date Of Opening</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="openedBy"><span jhiTranslate="qeeperApp.bankAccount.openedBy">Opened By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerId"><span jhiTranslate="qeeperApp.bankAccount.customerId">Customer Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountNumber"><span jhiTranslate="qeeperApp.bankAccount.accountNumber">Account Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="loginId"><span jhiTranslate="qeeperApp.bankAccount.loginId">Login Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="loginPassword"><span jhiTranslate="qeeperApp.bankAccount.loginPassword">Login Password</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="qeeperApp.bankAccount.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phone"><span jhiTranslate="qeeperApp.bankAccount.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bankAccountType"><span jhiTranslate="qeeperApp.bankAccount.bankAccountType">Bank Account Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chequeBookIssued"><span jhiTranslate="qeeperApp.bankAccount.chequeBookIssued">Cheque Book Issued</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountBalance"><span jhiTranslate="qeeperApp.bankAccount.accountBalance">Account Balance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="balanceCheckedOn"><span jhiTranslate="qeeperApp.bankAccount.balanceCheckedOn">Balance Checked On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minimumBalance"><span jhiTranslate="qeeperApp.bankAccount.minimumBalance">Minimum Balance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="passwordGetsExpired"><span jhiTranslate="qeeperApp.bankAccount.passwordGetsExpired">Password Gets Expired</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expirationPeriodDays"><span jhiTranslate="qeeperApp.bankAccount.expirationPeriodDays">Expiration Period Days</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="passwordUpdatedOn"><span jhiTranslate="qeeperApp.bankAccount.passwordUpdatedOn">Password Updated On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="qeeperApp.bankAccount.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountStatus"><span jhiTranslate="qeeperApp.bankAccount.accountStatus">Account Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="multipleSessionAllowed"><span jhiTranslate="qeeperApp.bankAccount.multipleSessionAllowed">Multiple Session Allowed</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="projectName"><span jhiTranslate="qeeperApp.bankAccount.projectName">Project Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="projectCode"><span jhiTranslate="qeeperApp.bankAccount.projectCode">Project Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requestedOn"><span jhiTranslate="qeeperApp.bankAccount.requestedOn">Requested On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requestedBy"><span jhiTranslate="qeeperApp.bankAccount.requestedBy">Requested By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountHolderName"><span jhiTranslate="qeeperApp.bankAccount.accountHolder">Account Holder</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bankBranchLocation"><span jhiTranslate="qeeperApp.bankAccount.bankBranch">Bank Branch</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mobileNumberMappedNumber"><span jhiTranslate="qeeperApp.bankAccount.mobileNumberMapped">Mobile Number Mapped</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parentAccountId"><span jhiTranslate="qeeperApp.bankAccount.parentAccount">Parent Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bankAccountGroupName"><span jhiTranslate="qeeperApp.bankAccount.bankAccountGroup">Bank Account Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bankAccount of bankAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/bank-account', bankAccount.id, 'view' ]">{{bankAccount.id}}</a></td>
                <td>{{bankAccount.dateOfOpening | date:'medium'}}</td>
                <td>{{bankAccount.openedBy}}</td>
                <td>{{bankAccount.customerId}}</td>
                <td>{{bankAccount.accountNumber}}</td>
                <td>{{bankAccount.loginId}}</td>
                <td>{{bankAccount.loginPassword}}</td>
                <td>{{bankAccount.email}}</td>
                <td>{{bankAccount.phone}}</td>
                <td jhiTranslate="{{'qeeperApp.BankAccountType.' + bankAccount.bankAccountType}}">{{bankAccount.bankAccountType}}</td>
                <td>{{bankAccount.chequeBookIssued}}</td>
                <td>{{bankAccount.accountBalance}}</td>
                <td>{{bankAccount.balanceCheckedOn | date:'medium'}}</td>
                <td>{{bankAccount.minimumBalance}}</td>
                <td>{{bankAccount.passwordGetsExpired}}</td>
                <td>{{bankAccount.expirationPeriodDays}}</td>
                <td>{{bankAccount.passwordUpdatedOn | date:'medium'}}</td>
                <td>{{bankAccount.remarks}}</td>
                <td jhiTranslate="{{'qeeperApp.AccountStatus.' + bankAccount.accountStatus}}">{{bankAccount.accountStatus}}</td>
                <td>{{bankAccount.multipleSessionAllowed}}</td>
                <td>{{bankAccount.projectName}}</td>
                <td>{{bankAccount.projectCode}}</td>
                <td>{{bankAccount.requestedOn | date:'medium'}}</td>
                <td>{{bankAccount.requestedBy}}</td>
                <td>
                    <div *ngIf="bankAccount.accountHolderId">
                        <a [routerLink]="['../employee', bankAccount.accountHolderId , 'view' ]" >{{bankAccount.accountHolderName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bankAccount.bankBranchId">
                        <a [routerLink]="['../bank-branch', bankAccount.bankBranchId , 'view' ]" >{{bankAccount.bankBranchLocation}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bankAccount.mobileNumberMappedId">
                        <a [routerLink]="['../mobile-number', bankAccount.mobileNumberMappedId , 'view' ]" >{{bankAccount.mobileNumberMappedNumber}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bankAccount.parentAccountId">
                        <a [routerLink]="['../bank-account', bankAccount.parentAccountId , 'view' ]" >{{bankAccount.parentAccountId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bankAccount.bankAccountGroupId">
                        <a [routerLink]="['../bank-account-group', bankAccount.bankAccountGroupId , 'view' ]" >{{bankAccount.bankAccountGroupName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/bank-account', bankAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bank-account', bankAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'bank-account', { outlets: { popup: bankAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="bankAccounts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
