<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bankAccount">
            <h2><span jhiTranslate="qeeperApp.bankAccount.detail.title">Bank Account</span> {{bankAccount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qeeperApp.bankAccount.dateOfOpening">Date Of Opening</span></dt>
                <dd>
                    <span>{{bankAccount.dateOfOpening}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.openedBy">Opened By</span></dt>
                <dd>
                    <span>{{bankAccount.openedBy}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.customerId">Customer Id</span></dt>
                <dd>
                    <span>{{bankAccount.customerId}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.accountNumber">Account Number</span></dt>
                <dd>
                    <span>{{bankAccount.accountNumber}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.loginId">Login Id</span></dt>
                <dd>
                    <span>{{bankAccount.loginId}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.loginPassword">Login Password</span></dt>
                <dd>
                    <span>{{bankAccount.loginPassword}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.email">Email</span></dt>
                <dd>
                    <span>{{bankAccount.email}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.phone">Phone</span></dt>
                <dd>
                    <span>{{bankAccount.phone}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.bankAccountType">Bank Account Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'qeeperApp.BankAccountType.' + bankAccount.bankAccountType}}">{{bankAccount.bankAccountType}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.chequeBookIssued">Cheque Book Issued</span></dt>
                <dd>
                    <span>{{bankAccount.chequeBookIssued}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.accountBalance">Account Balance</span></dt>
                <dd>
                    <span>{{bankAccount.accountBalance}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.balanceCheckedOn">Balance Checked On</span></dt>
                <dd>
                    <span>{{bankAccount.balanceCheckedOn}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.minimumBalance">Minimum Balance</span></dt>
                <dd>
                    <span>{{bankAccount.minimumBalance}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.passwordGetsExpired">Password Gets Expired</span></dt>
                <dd>
                    <span>{{bankAccount.passwordGetsExpired}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.expirationPeriodDays">Expiration Period Days</span></dt>
                <dd>
                    <span>{{bankAccount.expirationPeriodDays}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.passwordUpdatedOn">Password Updated On</span></dt>
                <dd>
                    <span>{{bankAccount.passwordUpdatedOn}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.remarks">Remarks</span></dt>
                <dd>
                    <span>{{bankAccount.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.accountStatus">Account Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'qeeperApp.AccountStatus.' + bankAccount.accountStatus}}">{{bankAccount.accountStatus}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.multipleSessionAllowed">Multiple Session Allowed</span></dt>
                <dd>
                    <span>{{bankAccount.multipleSessionAllowed}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.projectName">Project Name</span></dt>
                <dd>
                    <span>{{bankAccount.projectName}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.projectCode">Project Code</span></dt>
                <dd>
                    <span>{{bankAccount.projectCode}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.requestedOn">Requested On</span></dt>
                <dd>
                    <span>{{bankAccount.requestedOn}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.requestedBy">Requested By</span></dt>
                <dd>
                    <span>{{bankAccount.requestedBy}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.accountHolder">Account Holder</span></dt>
                <dd>
                    <div *ngIf="bankAccount.accountHolderId">
                        <a [routerLink]="['/employee', bankAccount.accountHolderId, 'view']">{{bankAccount.accountHolderName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.bankBranch">Bank Branch</span></dt>
                <dd>
                    <div *ngIf="bankAccount.bankBranchId">
                        <a [routerLink]="['/bank-branch', bankAccount.bankBranchId, 'view']">{{bankAccount.bankBranchLocation}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.mobileNumberMapped">Mobile Number Mapped</span></dt>
                <dd>
                    <div *ngIf="bankAccount.mobileNumberMappedId">
                        <a [routerLink]="['/mobile-number', bankAccount.mobileNumberMappedId, 'view']">{{bankAccount.mobileNumberMappedNumber}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.parentAccount">Parent Account</span></dt>
                <dd>
                    <div *ngIf="bankAccount.parentAccountId">
                        <a [routerLink]="['/bank-account', bankAccount.parentAccountId, 'view']">{{bankAccount.parentAccountId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankAccount.bankAccountGroup">Bank Account Group</span></dt>
                <dd>
                    <div *ngIf="bankAccount.bankAccountGroupId">
                        <a [routerLink]="['/bank-account-group', bankAccount.bankAccountGroupId, 'view']">{{bankAccount.bankAccountGroupName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bank-account', bankAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
