<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bank-account-heading" jhiTranslate="qeeperApp.bankAccount.home.createOrEditLabel">Create or edit a Bank Account</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.dateOfOpening" for="field_dateOfOpening">Date Of Opening</label>
                    <div class="d-flex">
                        <input id="field_dateOfOpening" type="datetime-local" class="form-control" name="dateOfOpening" formControlName="dateOfOpening" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.openedBy" for="field_openedBy">Opened By</label>
                    <input type="text" class="form-control" name="openedBy" id="field_openedBy"
                           formControlName="openedBy"/>
                    <div *ngIf="editForm.get('openedBy').invalid && (editForm.get('openedBy').dirty || editForm.get('openedBy').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('openedBy').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.customerId" for="field_customerId">Customer Id</label>
                    <input type="text" class="form-control" name="customerId" id="field_customerId"
                           formControlName="customerId"/>
                    <div *ngIf="editForm.get('customerId').invalid && (editForm.get('customerId').dirty || editForm.get('customerId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('customerId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('customerId').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.accountNumber" for="field_accountNumber">Account Number</label>
                    <input type="text" class="form-control" name="accountNumber" id="field_accountNumber"
                           formControlName="accountNumber"/>
                    <div *ngIf="editForm.get('accountNumber').invalid && (editForm.get('accountNumber').dirty || editForm.get('accountNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accountNumber').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.loginId" for="field_loginId">Login Id</label>
                    <input type="text" class="form-control" name="loginId" id="field_loginId"
                           formControlName="loginId"/>
                    <div *ngIf="editForm.get('loginId').invalid && (editForm.get('loginId').dirty || editForm.get('loginId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loginId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loginId').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.loginPassword" for="field_loginPassword">Login Password</label>
                    <input type="text" class="form-control" name="loginPassword" id="field_loginPassword"
                           formControlName="loginPassword"/>
                    <div *ngIf="editForm.get('loginPassword').invalid && (editForm.get('loginPassword').dirty || editForm.get('loginPassword').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loginPassword').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loginPassword').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Email' }">
                            This field should follow pattern for "Email".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                    <div *ngIf="editForm.get('phone').invalid && (editForm.get('phone').dirty || editForm.get('phone').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phone').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Phone' }">
                            This field should follow pattern for "Phone".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.bankAccountType" for="field_bankAccountType">Bank Account Type</label>
                    <select class="form-control" name="bankAccountType" formControlName="bankAccountType" id="field_bankAccountType">
                        <option value="SAVING">{{'qeeperApp.BankAccountType.SAVING' | translate}}</option>
                        <option value="CURRENT">{{'qeeperApp.BankAccountType.CURRENT' | translate}}</option>
                        <option value="SECURITIES">{{'qeeperApp.BankAccountType.SECURITIES' | translate}}</option>
                        <option value="INSURANCE">{{'qeeperApp.BankAccountType.INSURANCE' | translate}}</option>
                        <option value="MUTUAL_FUND">{{'qeeperApp.BankAccountType.MUTUAL_FUND' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('bankAccountType').invalid && (editForm.get('bankAccountType').dirty || editForm.get('bankAccountType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bankAccountType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.chequeBookIssued" for="field_chequeBookIssued">Cheque Book Issued</label>
                    <input type="checkbox" class="form-control" name="chequeBookIssued" id="field_chequeBookIssued"
                           formControlName="chequeBookIssued"/>
                    <div *ngIf="editForm.get('chequeBookIssued').invalid && (editForm.get('chequeBookIssued').dirty || editForm.get('chequeBookIssued').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('chequeBookIssued').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.accountBalance" for="field_accountBalance">Account Balance</label>
                    <input type="number" class="form-control" name="accountBalance" id="field_accountBalance"
                           formControlName="accountBalance"/>
                    <div *ngIf="editForm.get('accountBalance').invalid && (editForm.get('accountBalance').dirty || editForm.get('accountBalance').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accountBalance').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('accountBalance')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.balanceCheckedOn" for="field_balanceCheckedOn">Balance Checked On</label>
                    <div class="d-flex">
                        <input id="field_balanceCheckedOn" type="datetime-local" class="form-control" name="balanceCheckedOn" formControlName="balanceCheckedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.minimumBalance" for="field_minimumBalance">Minimum Balance</label>
                    <input type="number" class="form-control" name="minimumBalance" id="field_minimumBalance"
                           formControlName="minimumBalance"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.passwordGetsExpired" for="field_passwordGetsExpired">Password Gets Expired</label>
                    <input type="checkbox" class="form-control" name="passwordGetsExpired" id="field_passwordGetsExpired"
                           formControlName="passwordGetsExpired"/>
                    <div *ngIf="editForm.get('passwordGetsExpired').invalid && (editForm.get('passwordGetsExpired').dirty || editForm.get('passwordGetsExpired').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('passwordGetsExpired').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.expirationPeriodDays" for="field_expirationPeriodDays">Expiration Period Days</label>
                    <input type="number" class="form-control" name="expirationPeriodDays" id="field_expirationPeriodDays"
                           formControlName="expirationPeriodDays"/>
                    <div *ngIf="editForm.get('expirationPeriodDays').invalid && (editForm.get('expirationPeriodDays').dirty || editForm.get('expirationPeriodDays').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('expirationPeriodDays').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('expirationPeriodDays')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.passwordUpdatedOn" for="field_passwordUpdatedOn">Password Updated On</label>
                    <div class="d-flex">
                        <input id="field_passwordUpdatedOn" type="datetime-local" class="form-control" name="passwordUpdatedOn" formControlName="passwordUpdatedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                    <div *ngIf="editForm.get('remarks').invalid && (editForm.get('remarks').dirty || editForm.get('remarks').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('remarks').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.accountStatus" for="field_accountStatus">Account Status</label>
                    <select class="form-control" name="accountStatus" formControlName="accountStatus" id="field_accountStatus">
                        <option value="ACTIVE">{{'qeeperApp.AccountStatus.ACTIVE' | translate}}</option>
                        <option value="IN_USE">{{'qeeperApp.AccountStatus.IN_USE' | translate}}</option>
                        <option value="IN_ACTIVE">{{'qeeperApp.AccountStatus.IN_ACTIVE' | translate}}</option>
                        <option value="SUSPENDED">{{'qeeperApp.AccountStatus.SUSPENDED' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('accountStatus').invalid && (editForm.get('accountStatus').dirty || editForm.get('accountStatus').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accountStatus').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.multipleSessionAllowed" for="field_multipleSessionAllowed">Multiple Session Allowed</label>
                    <input type="checkbox" class="form-control" name="multipleSessionAllowed" id="field_multipleSessionAllowed"
                           formControlName="multipleSessionAllowed"/>
                    <div *ngIf="editForm.get('multipleSessionAllowed').invalid && (editForm.get('multipleSessionAllowed').dirty || editForm.get('multipleSessionAllowed').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('multipleSessionAllowed').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.projectName" for="field_projectName">Project Name</label>
                    <input type="text" class="form-control" name="projectName" id="field_projectName"
                           formControlName="projectName"/>
                    <div *ngIf="editForm.get('projectName').invalid && (editForm.get('projectName').dirty || editForm.get('projectName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('projectName').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.projectCode" for="field_projectCode">Project Code</label>
                    <input type="text" class="form-control" name="projectCode" id="field_projectCode"
                           formControlName="projectCode"/>
                    <div *ngIf="editForm.get('projectCode').invalid && (editForm.get('projectCode').dirty || editForm.get('projectCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('projectCode').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.requestedOn" for="field_requestedOn">Requested On</label>
                    <div class="d-flex">
                        <input id="field_requestedOn" type="datetime-local" class="form-control" name="requestedOn" formControlName="requestedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.requestedBy" for="field_requestedBy">Requested By</label>
                    <input type="text" class="form-control" name="requestedBy" id="field_requestedBy"
                           formControlName="requestedBy"/>
                    <div *ngIf="editForm.get('requestedBy').invalid && (editForm.get('requestedBy').dirty || editForm.get('requestedBy').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('requestedBy').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.accountHolder" for="field_accountHolder">Account Holder</label>
                    <select class="form-control" id="field_accountHolder" name="accountHolder" formControlName="accountHolderId">
                        <option *ngIf="!editForm.get('accountHolderId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('accountHolderId').invalid && (editForm.get('accountHolderId').dirty || editForm.get('accountHolderId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('accountHolderId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.bankBranch" for="field_bankBranch">Bank Branch</label>
                    <select class="form-control" id="field_bankBranch" name="bankBranch" formControlName="bankBranchId">
                        <option *ngIf="!editForm.get('bankBranchId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="bankBranchOption.id" *ngFor="let bankBranchOption of bankbranches; trackBy: trackBankBranchById">{{bankBranchOption.location}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('bankBranchId').invalid && (editForm.get('bankBranchId').dirty || editForm.get('bankBranchId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('bankBranchId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.mobileNumberMapped" for="field_mobileNumberMapped">Mobile Number Mapped</label>
                    <select class="form-control" id="field_mobileNumberMapped" name="mobileNumberMapped" formControlName="mobileNumberMappedId">
                        <option *ngIf="!editForm.get('mobileNumberMappedId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="mobileNumberOption.id" *ngFor="let mobileNumberOption of mobilenumbers; trackBy: trackMobileNumberById">{{mobileNumberOption.number}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('mobileNumberMappedId').invalid && (editForm.get('mobileNumberMappedId').dirty || editForm.get('mobileNumberMappedId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('mobileNumberMappedId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.parentAccount" for="field_parentAccount">Parent Account</label>
                    <select class="form-control" id="field_parentAccount" name="parentAccount" formControlName="parentAccountId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bankAccountOption.id" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankAccount.bankAccountGroup" for="field_bankAccountGroup">Bank Account Group</label>
                    <select class="form-control" id="field_bankAccountGroup" name="bankAccountGroup" formControlName="bankAccountGroupId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bankAccountGroupOption.id" *ngFor="let bankAccountGroupOption of bankaccountgroups; trackBy: trackBankAccountGroupById">{{bankAccountGroupOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
