<div>
    <h2 id="page-heading">
        <span jhiTranslate="qeeperApp.secretQuestion.home.title">Secret Questions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-secret-question" [routerLink]="['/secret-question/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="qeeperApp.secretQuestion.home.createLabel">
            Create new Secret Question
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="secretQuestions?.length === 0">
        <span jhiTranslate="qeeperApp.secretQuestion.home.notFound">No secretQuestions found</span>
    </div>
    <div class="table-responsive" *ngIf="secretQuestions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="question"><span jhiTranslate="qeeperApp.secretQuestion.question">Question</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="answer"><span jhiTranslate="qeeperApp.secretQuestion.answer">Answer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bankAccountId"><span jhiTranslate="qeeperApp.secretQuestion.bankAccount">Bank Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let secretQuestion of secretQuestions ;trackBy: trackId">
                <td><a [routerLink]="['/secret-question', secretQuestion.id, 'view' ]">{{secretQuestion.id}}</a></td>
                <td>{{secretQuestion.question}}</td>
                <td>{{secretQuestion.answer}}</td>
                <td>
                    <div *ngIf="secretQuestion.bankAccountId">
                        <a [routerLink]="['../bank-account', secretQuestion.bankAccountId , 'view' ]" >{{secretQuestion.bankAccountId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/secret-question', secretQuestion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/secret-question', secretQuestion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'secret-question', { outlets: { popup: secretQuestion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="secretQuestions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
