<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="secretQuestion">
            <h2><span jhiTranslate="qeeperApp.secretQuestion.detail.title">Secret Question</span> {{secretQuestion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qeeperApp.secretQuestion.question">Question</span></dt>
                <dd>
                    <span>{{secretQuestion.question}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.secretQuestion.answer">Answer</span></dt>
                <dd>
                    <span>{{secretQuestion.answer}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.secretQuestion.bankAccount">Bank Account</span></dt>
                <dd>
                    <div *ngIf="secretQuestion.bankAccountId">
                        <a [routerLink]="['/bank-account', secretQuestion.bankAccountId, 'view']">{{secretQuestion.bankAccountId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/secret-question', secretQuestion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
