<div>
    <h2 id="page-heading">
        <span jhiTranslate="qeeperApp.contactPerson.home.title">Contact People</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contact-person" [routerLink]="['/contact-person/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="qeeperApp.contactPerson.home.createLabel">
            Create new Contact Person
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="contactPeople?.length === 0">
        <span jhiTranslate="qeeperApp.contactPerson.home.notFound">No contactPeople found</span>
    </div>
    <div class="table-responsive" *ngIf="contactPeople?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="qeeperApp.contactPerson.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="primaryEmail"><span jhiTranslate="qeeperApp.contactPerson.primaryEmail">Primary Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="secondaryEmail"><span jhiTranslate="qeeperApp.contactPerson.secondaryEmail">Secondary Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="primaryPhone"><span jhiTranslate="qeeperApp.contactPerson.primaryPhone">Primary Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="secondaryPhone"><span jhiTranslate="qeeperApp.contactPerson.secondaryPhone">Secondary Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span jhiTranslate="qeeperApp.contactPerson.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contactPerson of contactPeople ;trackBy: trackId">
                <td><a [routerLink]="['/contact-person', contactPerson.id, 'view' ]">{{contactPerson.id}}</a></td>
                <td>{{contactPerson.name}}</td>
                <td>{{contactPerson.primaryEmail}}</td>
                <td>{{contactPerson.secondaryEmail}}</td>
                <td>{{contactPerson.primaryPhone}}</td>
                <td>{{contactPerson.secondaryPhone}}</td>
                <td>{{contactPerson.active}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/contact-person', contactPerson.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contact-person', contactPerson.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'contact-person', { outlets: { popup: contactPerson.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="contactPeople?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
