<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-contact-person-heading" jhiTranslate="qeeperApp.contactPerson.home.createOrEditLabel">Create or edit a Contact Person</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.contactPerson.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.contactPerson.primaryEmail" for="field_primaryEmail">Primary Email</label>
                    <input type="text" class="form-control" name="primaryEmail" id="field_primaryEmail"
                           formControlName="primaryEmail"/>
                    <div *ngIf="editForm.get('primaryEmail').invalid && (editForm.get('primaryEmail').dirty || editForm.get('primaryEmail').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('primaryEmail').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('primaryEmail').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 400 }">
                        This field cannot be longer than 400 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('primaryEmail').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Primary Email' }">
                            This field should follow pattern for "Primary Email".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.contactPerson.secondaryEmail" for="field_secondaryEmail">Secondary Email</label>
                    <input type="text" class="form-control" name="secondaryEmail" id="field_secondaryEmail"
                           formControlName="secondaryEmail"/>
                    <div *ngIf="editForm.get('secondaryEmail').invalid && (editForm.get('secondaryEmail').dirty || editForm.get('secondaryEmail').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('secondaryEmail').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 400 }">
                        This field cannot be longer than 400 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('secondaryEmail').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Secondary Email' }">
                            This field should follow pattern for "Secondary Email".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.contactPerson.primaryPhone" for="field_primaryPhone">Primary Phone</label>
                    <input type="text" class="form-control" name="primaryPhone" id="field_primaryPhone"
                           formControlName="primaryPhone"/>
                    <div *ngIf="editForm.get('primaryPhone').invalid && (editForm.get('primaryPhone').dirty || editForm.get('primaryPhone').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('primaryPhone').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('primaryPhone').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('primaryPhone').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Primary Phone' }">
                            This field should follow pattern for "Primary Phone".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.contactPerson.secondaryPhone" for="field_secondaryPhone">Secondary Phone</label>
                    <input type="text" class="form-control" name="secondaryPhone" id="field_secondaryPhone"
                           formControlName="secondaryPhone"/>
                    <div *ngIf="editForm.get('secondaryPhone').invalid && (editForm.get('secondaryPhone').dirty || editForm.get('secondaryPhone').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('secondaryPhone').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('secondaryPhone').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Secondary Phone' }">
                            This field should follow pattern for "Secondary Phone".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.contactPerson.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                    <div *ngIf="editForm.get('active').invalid && (editForm.get('active').dirty || editForm.get('active').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('active').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
