<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contactPerson">
            <h2><span jhiTranslate="qeeperApp.contactPerson.detail.title">Contact Person</span> {{contactPerson.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qeeperApp.contactPerson.name">Name</span></dt>
                <dd>
                    <span>{{contactPerson.name}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.contactPerson.primaryEmail">Primary Email</span></dt>
                <dd>
                    <span>{{contactPerson.primaryEmail}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.contactPerson.secondaryEmail">Secondary Email</span></dt>
                <dd>
                    <span>{{contactPerson.secondaryEmail}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.contactPerson.primaryPhone">Primary Phone</span></dt>
                <dd>
                    <span>{{contactPerson.primaryPhone}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.contactPerson.secondaryPhone">Secondary Phone</span></dt>
                <dd>
                    <span>{{contactPerson.secondaryPhone}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.contactPerson.active">Active</span></dt>
                <dd>
                    <span>{{contactPerson.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact-person', contactPerson.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
