<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-card-heading" jhiTranslate="qeeperApp.card.home.createOrEditLabel">Create or edit a Card</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.cardType" for="field_cardType">Card Type</label>
                    <select class="form-control" name="cardType" formControlName="cardType" id="field_cardType">
                        <option value="DEBIT">{{'qeeperApp.CardType.DEBIT' | translate}}</option>
                        <option value="CREDIT">{{'qeeperApp.CardType.CREDIT' | translate}}</option>
                        <option value="PREPAID">{{'qeeperApp.CardType.PREPAID' | translate}}</option>
                        <option value="FOREX">{{'qeeperApp.CardType.FOREX' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('cardType').invalid && (editForm.get('cardType').dirty || editForm.get('cardType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cardType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.paymentNetwork" for="field_paymentNetwork">Payment Network</label>
                    <select class="form-control" name="paymentNetwork" formControlName="paymentNetwork" id="field_paymentNetwork">
                        <option value="VISA">{{'qeeperApp.PaymentNetwork.VISA' | translate}}</option>
                        <option value="MASTERCARD">{{'qeeperApp.PaymentNetwork.MASTERCARD' | translate}}</option>
                        <option value="DISCOVER">{{'qeeperApp.PaymentNetwork.DISCOVER' | translate}}</option>
                        <option value="MAESTRO">{{'qeeperApp.PaymentNetwork.MAESTRO' | translate}}</option>
                        <option value="RUPAY">{{'qeeperApp.PaymentNetwork.RUPAY' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('paymentNetwork').invalid && (editForm.get('paymentNetwork').dirty || editForm.get('paymentNetwork').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paymentNetwork').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.cardNumber" for="field_cardNumber">Card Number</label>
                    <input type="text" class="form-control" name="cardNumber" id="field_cardNumber"
                           formControlName="cardNumber"/>
                    <div *ngIf="editForm.get('cardNumber').invalid && (editForm.get('cardNumber').dirty || editForm.get('cardNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cardNumber').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cardNumber').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cardNumber').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Card Number' }">
                            This field should follow pattern for "Card Number".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.validFrom" for="field_validFrom">Valid From</label>
                    <input type="text" class="form-control" name="validFrom" id="field_validFrom"
                           formControlName="validFrom"/>
                    <div *ngIf="editForm.get('validFrom').invalid && (editForm.get('validFrom').dirty || editForm.get('validFrom').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validFrom').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validFrom').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validFrom').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Valid From' }">
                            This field should follow pattern for "Valid From".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.validTill" for="field_validTill">Valid Till</label>
                    <input type="text" class="form-control" name="validTill" id="field_validTill"
                           formControlName="validTill"/>
                    <div *ngIf="editForm.get('validTill').invalid && (editForm.get('validTill').dirty || editForm.get('validTill').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validTill').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validTill').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validTill').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Valid Till' }">
                            This field should follow pattern for "Valid Till".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.paymentNetworkPin" for="field_paymentNetworkPin">Payment Network Pin</label>
                    <input type="text" class="form-control" name="paymentNetworkPin" id="field_paymentNetworkPin"
                           formControlName="paymentNetworkPin"/>
                    <div *ngIf="editForm.get('paymentNetworkPin').invalid && (editForm.get('paymentNetworkPin').dirty || editForm.get('paymentNetworkPin').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paymentNetworkPin').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paymentNetworkPin').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paymentNetworkPin').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Payment Network Pin' }">
                            This field should follow pattern for "Payment Network Pin".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.cvv" for="field_cvv">Cvv</label>
                    <input type="text" class="form-control" name="cvv" id="field_cvv"
                           formControlName="cvv"/>
                    <div *ngIf="editForm.get('cvv').invalid && (editForm.get('cvv').dirty || editForm.get('cvv').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cvv').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cvv').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cvv').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 5 }">
                        This field cannot be longer than 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cvv').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Cvv' }">
                            This field should follow pattern for "Cvv".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.nameOnCard" for="field_nameOnCard">Name On Card</label>
                    <input type="text" class="form-control" name="nameOnCard" id="field_nameOnCard"
                           formControlName="nameOnCard"/>
                    <div *ngIf="editForm.get('nameOnCard').invalid && (editForm.get('nameOnCard').dirty || editForm.get('nameOnCard').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nameOnCard').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nameOnCard').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                    <div *ngIf="editForm.get('remarks').invalid && (editForm.get('remarks').dirty || editForm.get('remarks').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('remarks').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.pin" for="field_pin">Pin</label>
                    <input type="text" class="form-control" name="pin" id="field_pin"
                           formControlName="pin"/>
                    <div *ngIf="editForm.get('pin').invalid && (editForm.get('pin').dirty || editForm.get('pin').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pin').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pin').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 6 }">
                        This field cannot be longer than 6 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pin').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Pin' }">
                            This field should follow pattern for "Pin".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.tpin" for="field_tpin">Tpin</label>
                    <input type="text" class="form-control" name="tpin" id="field_tpin"
                           formControlName="tpin"/>
                    <div *ngIf="editForm.get('tpin').invalid && (editForm.get('tpin').dirty || editForm.get('tpin').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tpin').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tpin').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 6 }">
                        This field cannot be longer than 6 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tpin').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Tpin' }">
                            This field should follow pattern for "Tpin".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.mobileNumberMapped" for="field_mobileNumberMapped">Mobile Number Mapped</label>
                    <select class="form-control" id="field_mobileNumberMapped" name="mobileNumberMapped" formControlName="mobileNumberMappedId">
                        <option *ngIf="!editForm.get('mobileNumberMappedId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="mobileNumberOption.id" *ngFor="let mobileNumberOption of mobilenumbers; trackBy: trackMobileNumberById">{{mobileNumberOption.number}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('mobileNumberMappedId').invalid && (editForm.get('mobileNumberMappedId').dirty || editForm.get('mobileNumberMappedId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('mobileNumberMappedId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.registeredTo" for="field_registeredTo">Registered To</label>
                    <select class="form-control" id="field_registeredTo" name="registeredTo" formControlName="registeredToId">
                        <option *ngIf="!editForm.get('registeredToId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('registeredToId').invalid && (editForm.get('registeredToId').dirty || editForm.get('registeredToId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('registeredToId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.bank" for="field_bank">Bank</label>
                    <select class="form-control" id="field_bank" name="bank" formControlName="bankId">
                        <option *ngIf="!editForm.get('bankId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="bankOption.id" *ngFor="let bankOption of banks; trackBy: trackBankById">{{bankOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('bankId').invalid && (editForm.get('bankId').dirty || editForm.get('bankId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('bankId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.bankAccount" for="field_bankAccount">Bank Account</label>
                    <select class="form-control" id="field_bankAccount" name="bankAccount" formControlName="bankAccountId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bankAccountOption.id" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.card.cardGroup" for="field_cardGroup">Card Group</label>
                    <select class="form-control" id="field_cardGroup" name="cardGroup" formControlName="cardGroupId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cardGroupOption.id" *ngFor="let cardGroupOption of cardgroups; trackBy: trackCardGroupById">{{cardGroupOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
