<div>
    <h2 id="page-heading">
        <span jhiTranslate="qeeperApp.card.home.title">Cards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-card" [routerLink]="['/card/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="qeeperApp.card.home.createLabel">
            Create new Card
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="cards?.length === 0">
        <span jhiTranslate="qeeperApp.card.home.notFound">No cards found</span>
    </div>
    <div class="table-responsive" *ngIf="cards?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cardType"><span jhiTranslate="qeeperApp.card.cardType">Card Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paymentNetwork"><span jhiTranslate="qeeperApp.card.paymentNetwork">Payment Network</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cardNumber"><span jhiTranslate="qeeperApp.card.cardNumber">Card Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validFrom"><span jhiTranslate="qeeperApp.card.validFrom">Valid From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validTill"><span jhiTranslate="qeeperApp.card.validTill">Valid Till</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paymentNetworkPin"><span jhiTranslate="qeeperApp.card.paymentNetworkPin">Payment Network Pin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cvv"><span jhiTranslate="qeeperApp.card.cvv">Cvv</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nameOnCard"><span jhiTranslate="qeeperApp.card.nameOnCard">Name On Card</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="qeeperApp.card.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pin"><span jhiTranslate="qeeperApp.card.pin">Pin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tpin"><span jhiTranslate="qeeperApp.card.tpin">Tpin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mobileNumberMappedNumber"><span jhiTranslate="qeeperApp.card.mobileNumberMapped">Mobile Number Mapped</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="registeredToName"><span jhiTranslate="qeeperApp.card.registeredTo">Registered To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bankName"><span jhiTranslate="qeeperApp.card.bank">Bank</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bankAccountId"><span jhiTranslate="qeeperApp.card.bankAccount">Bank Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cardGroupName"><span jhiTranslate="qeeperApp.card.cardGroup">Card Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let card of cards ;trackBy: trackId">
                <td><a [routerLink]="['/card', card.id, 'view' ]">{{card.id}}</a></td>
                <td jhiTranslate="{{'qeeperApp.CardType.' + card.cardType}}">{{card.cardType}}</td>
                <td jhiTranslate="{{'qeeperApp.PaymentNetwork.' + card.paymentNetwork}}">{{card.paymentNetwork}}</td>
                <td>{{card.cardNumber}}</td>
                <td>{{card.validFrom}}</td>
                <td>{{card.validTill}}</td>
                <td>{{card.paymentNetworkPin}}</td>
                <td>{{card.cvv}}</td>
                <td>{{card.nameOnCard}}</td>
                <td>{{card.remarks}}</td>
                <td>{{card.pin}}</td>
                <td>{{card.tpin}}</td>
                <td>
                    <div *ngIf="card.mobileNumberMappedId">
                        <a [routerLink]="['../mobile-number', card.mobileNumberMappedId , 'view' ]" >{{card.mobileNumberMappedNumber}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="card.registeredToId">
                        <a [routerLink]="['../employee', card.registeredToId , 'view' ]" >{{card.registeredToName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="card.bankId">
                        <a [routerLink]="['../bank', card.bankId , 'view' ]" >{{card.bankName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="card.bankAccountId">
                        <a [routerLink]="['../bank-account', card.bankAccountId , 'view' ]" >{{card.bankAccountId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="card.cardGroupId">
                        <a [routerLink]="['../card-group', card.cardGroupId , 'view' ]" >{{card.cardGroupName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/card', card.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/card', card.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'card', { outlets: { popup: card.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="cards?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
