<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="card">
            <h2><span jhiTranslate="qeeperApp.card.detail.title">Card</span> {{card.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qeeperApp.card.cardType">Card Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'qeeperApp.CardType.' + card.cardType}}">{{card.cardType}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.paymentNetwork">Payment Network</span></dt>
                <dd>
                    <span jhiTranslate="{{'qeeperApp.PaymentNetwork.' + card.paymentNetwork}}">{{card.paymentNetwork}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.cardNumber">Card Number</span></dt>
                <dd>
                    <span>{{card.cardNumber}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.validFrom">Valid From</span></dt>
                <dd>
                    <span>{{card.validFrom}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.validTill">Valid Till</span></dt>
                <dd>
                    <span>{{card.validTill}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.paymentNetworkPin">Payment Network Pin</span></dt>
                <dd>
                    <span>{{card.paymentNetworkPin}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.cvv">Cvv</span></dt>
                <dd>
                    <span>{{card.cvv}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.nameOnCard">Name On Card</span></dt>
                <dd>
                    <span>{{card.nameOnCard}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.remarks">Remarks</span></dt>
                <dd>
                    <span>{{card.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.pin">Pin</span></dt>
                <dd>
                    <span>{{card.pin}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.tpin">Tpin</span></dt>
                <dd>
                    <span>{{card.tpin}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.mobileNumberMapped">Mobile Number Mapped</span></dt>
                <dd>
                    <div *ngIf="card.mobileNumberMappedId">
                        <a [routerLink]="['/mobile-number', card.mobileNumberMappedId, 'view']">{{card.mobileNumberMappedNumber}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.registeredTo">Registered To</span></dt>
                <dd>
                    <div *ngIf="card.registeredToId">
                        <a [routerLink]="['/employee', card.registeredToId, 'view']">{{card.registeredToName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.bank">Bank</span></dt>
                <dd>
                    <div *ngIf="card.bankId">
                        <a [routerLink]="['/bank', card.bankId, 'view']">{{card.bankName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.bankAccount">Bank Account</span></dt>
                <dd>
                    <div *ngIf="card.bankAccountId">
                        <a [routerLink]="['/bank-account', card.bankAccountId, 'view']">{{card.bankAccountId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="qeeperApp.card.cardGroup">Card Group</span></dt>
                <dd>
                    <div *ngIf="card.cardGroupId">
                        <a [routerLink]="['/card-group', card.cardGroupId, 'view']">{{card.cardGroupName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/card', card.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
