<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bank-branch-heading" jhiTranslate="qeeperApp.bankBranch.home.createOrEditLabel">Create or edit a Bank Branch</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankBranch.location" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                           formControlName="location"/>
                    <div *ngIf="editForm.get('location').invalid && (editForm.get('location').dirty || editForm.get('location').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('location').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('location').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankBranch.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                    <div *ngIf="editForm.get('address').invalid && (editForm.get('address').dirty || editForm.get('address').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('address').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankBranch.ifscCode" for="field_ifscCode">Ifsc Code</label>
                    <input type="text" class="form-control" name="ifscCode" id="field_ifscCode"
                           formControlName="ifscCode"/>
                    <div *ngIf="editForm.get('ifscCode').invalid && (editForm.get('ifscCode').dirty || editForm.get('ifscCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ifscCode').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ifscCode').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Ifsc Code' }">
                            This field should follow pattern for "Ifsc Code".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankBranch.micrCode" for="field_micrCode">Micr Code</label>
                    <input type="text" class="form-control" name="micrCode" id="field_micrCode"
                           formControlName="micrCode"/>
                    <div *ngIf="editForm.get('micrCode').invalid && (editForm.get('micrCode').dirty || editForm.get('micrCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('micrCode').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankBranch.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                    <div *ngIf="editForm.get('remarks').invalid && (editForm.get('remarks').dirty || editForm.get('remarks').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('remarks').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.bankBranch.bank" for="field_bank">Bank</label>
                    <select class="form-control" id="field_bank" name="bank" formControlName="bankId">
                        <option *ngIf="!editForm.get('bankId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="bankOption.id" *ngFor="let bankOption of banks; trackBy: trackBankById">{{bankOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('bankId').invalid && (editForm.get('bankId').dirty || editForm.get('bankId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('bankId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
