<div>
    <h2 id="page-heading">
        <span jhiTranslate="qeeperApp.bankBranch.home.title">Bank Branches</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bank-branch" [routerLink]="['/bank-branch/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="qeeperApp.bankBranch.home.createLabel">
            Create new Bank Branch
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="bankBranches?.length === 0">
        <span jhiTranslate="qeeperApp.bankBranch.home.notFound">No bankBranches found</span>
    </div>
    <div class="table-responsive" *ngIf="bankBranches?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="location"><span jhiTranslate="qeeperApp.bankBranch.location">Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address"><span jhiTranslate="qeeperApp.bankBranch.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ifscCode"><span jhiTranslate="qeeperApp.bankBranch.ifscCode">Ifsc Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="micrCode"><span jhiTranslate="qeeperApp.bankBranch.micrCode">Micr Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="qeeperApp.bankBranch.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bankName"><span jhiTranslate="qeeperApp.bankBranch.bank">Bank</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bankBranch of bankBranches ;trackBy: trackId">
                <td><a [routerLink]="['/bank-branch', bankBranch.id, 'view' ]">{{bankBranch.id}}</a></td>
                <td>{{bankBranch.location}}</td>
                <td>{{bankBranch.address}}</td>
                <td>{{bankBranch.ifscCode}}</td>
                <td>{{bankBranch.micrCode}}</td>
                <td>{{bankBranch.remarks}}</td>
                <td>
                    <div *ngIf="bankBranch.bankId">
                        <a [routerLink]="['../bank', bankBranch.bankId , 'view' ]" >{{bankBranch.bankName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/bank-branch', bankBranch.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bank-branch', bankBranch.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'bank-branch', { outlets: { popup: bankBranch.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="bankBranches?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
