<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bankBranch">
            <h2><span jhiTranslate="qeeperApp.bankBranch.detail.title">Bank Branch</span> {{bankBranch.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qeeperApp.bankBranch.location">Location</span></dt>
                <dd>
                    <span>{{bankBranch.location}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankBranch.address">Address</span></dt>
                <dd>
                    <span>{{bankBranch.address}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankBranch.ifscCode">Ifsc Code</span></dt>
                <dd>
                    <span>{{bankBranch.ifscCode}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankBranch.micrCode">Micr Code</span></dt>
                <dd>
                    <span>{{bankBranch.micrCode}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankBranch.remarks">Remarks</span></dt>
                <dd>
                    <span>{{bankBranch.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.bankBranch.bank">Bank</span></dt>
                <dd>
                    <div *ngIf="bankBranch.bankId">
                        <a [routerLink]="['/bank', bankBranch.bankId, 'view']">{{bankBranch.bankName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bank-branch', bankBranch.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
