<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2><span jhiTranslate="qeeperApp.employee.detail.title">Employee</span> {{employee.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qeeperApp.employee.name">Name</span></dt>
                <dd>
                    <span>{{employee.name}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.employee.pan">Pan</span></dt>
                <dd>
                    <span>{{employee.pan}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.employee.dateOfBirth">Date Of Birth</span></dt>
                <dd>
                    <span>{{employee.dateOfBirth}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.employee.aadhaar">Aadhaar</span></dt>
                <dd>
                    <span>{{employee.aadhaar}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.employee.email">Email</span></dt>
                <dd>
                    <span>{{employee.email}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.employee.phone">Phone</span></dt>
                <dd>
                    <span>{{employee.phone}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.employee.communicationAddress">Communication Address</span></dt>
                <dd>
                    <span>{{employee.communicationAddress}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.employee.permanentAddress">Permanent Address</span></dt>
                <dd>
                    <span>{{employee.permanentAddress}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.employee.remarks">Remarks</span></dt>
                <dd>
                    <span>{{employee.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.employee.active">Active</span></dt>
                <dd>
                    <span>{{employee.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
