<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-employee-heading" jhiTranslate="qeeperApp.employee.home.createOrEditLabel">Create or edit a Employee</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.employee.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.employee.pan" for="field_pan">Pan</label>
                    <input type="text" class="form-control" name="pan" id="field_pan"
                           formControlName="pan"/>
                    <div *ngIf="editForm.get('pan').invalid && (editForm.get('pan').dirty || editForm.get('pan').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pan').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Pan' }">
                            This field should follow pattern for "Pan".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.employee.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
                    <input type="text" class="form-control" name="dateOfBirth" id="field_dateOfBirth"
                           formControlName="dateOfBirth"/>
                    <div *ngIf="editForm.get('dateOfBirth').invalid && (editForm.get('dateOfBirth').dirty || editForm.get('dateOfBirth').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateOfBirth').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Date Of Birth' }">
                            This field should follow pattern for "Date Of Birth".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.employee.aadhaar" for="field_aadhaar">Aadhaar</label>
                    <input type="text" class="form-control" name="aadhaar" id="field_aadhaar"
                           formControlName="aadhaar"/>
                    <div *ngIf="editForm.get('aadhaar').invalid && (editForm.get('aadhaar').dirty || editForm.get('aadhaar').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('aadhaar').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Aadhaar' }">
                            This field should follow pattern for "Aadhaar".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.employee.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 400 }">
                        This field cannot be longer than 400 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Email' }">
                            This field should follow pattern for "Email".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.employee.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                    <div *ngIf="editForm.get('phone').invalid && (editForm.get('phone').dirty || editForm.get('phone').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phone').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Phone' }">
                            This field should follow pattern for "Phone".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.employee.communicationAddress" for="field_communicationAddress">Communication Address</label>
                    <input type="text" class="form-control" name="communicationAddress" id="field_communicationAddress"
                           formControlName="communicationAddress"/>
                    <div *ngIf="editForm.get('communicationAddress').invalid && (editForm.get('communicationAddress').dirty || editForm.get('communicationAddress').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('communicationAddress').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.employee.permanentAddress" for="field_permanentAddress">Permanent Address</label>
                    <input type="text" class="form-control" name="permanentAddress" id="field_permanentAddress"
                           formControlName="permanentAddress"/>
                    <div *ngIf="editForm.get('permanentAddress').invalid && (editForm.get('permanentAddress').dirty || editForm.get('permanentAddress').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('permanentAddress').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.employee.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                    <div *ngIf="editForm.get('remarks').invalid && (editForm.get('remarks').dirty || editForm.get('remarks').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('remarks').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.employee.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                    <div *ngIf="editForm.get('active').invalid && (editForm.get('active').dirty || editForm.get('active').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('active').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
