<div>
    <h2 id="page-heading">
        <span jhiTranslate="qeeperApp.nonBankAccount.home.title">Non Bank Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-non-bank-account" [routerLink]="['/non-bank-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="qeeperApp.nonBankAccount.home.createLabel">
            Create new Non Bank Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="nonBankAccounts?.length === 0">
        <span jhiTranslate="qeeperApp.nonBankAccount.home.notFound">No nonBankAccounts found</span>
    </div>
    <div class="table-responsive" *ngIf="nonBankAccounts?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="loginId"><span jhiTranslate="qeeperApp.nonBankAccount.loginId">Login Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="loginPassword"><span jhiTranslate="qeeperApp.nonBankAccount.loginPassword">Login Password</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="qeeperApp.nonBankAccount.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="qeeperApp.nonBankAccount.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phone"><span jhiTranslate="qeeperApp.nonBankAccount.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="passwordGetsExpired"><span jhiTranslate="qeeperApp.nonBankAccount.passwordGetsExpired">Password Gets Expired</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="passwordUpdatedOn"><span jhiTranslate="qeeperApp.nonBankAccount.passwordUpdatedOn">Password Updated On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expirationPeriodDays"><span jhiTranslate="qeeperApp.nonBankAccount.expirationPeriodDays">Expiration Period Days</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountStatus"><span jhiTranslate="qeeperApp.nonBankAccount.accountStatus">Account Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="qeeperApp.nonBankAccount.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="multipleSessionAllowed"><span jhiTranslate="qeeperApp.nonBankAccount.multipleSessionAllowed">Multiple Session Allowed</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountId"><span jhiTranslate="qeeperApp.nonBankAccount.accountId">Account Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nonBankClientName"><span jhiTranslate="qeeperApp.nonBankAccount.nonBankClient">Non Bank Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nonBankAccountGroupName"><span jhiTranslate="qeeperApp.nonBankAccount.nonBankAccountGroup">Non Bank Account Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nonBankAccount of nonBankAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/non-bank-account', nonBankAccount.id, 'view' ]">{{nonBankAccount.id}}</a></td>
                <td>{{nonBankAccount.loginId}}</td>
                <td>{{nonBankAccount.loginPassword}}</td>
                <td>{{nonBankAccount.name}}</td>
                <td>{{nonBankAccount.email}}</td>
                <td>{{nonBankAccount.phone}}</td>
                <td>{{nonBankAccount.passwordGetsExpired}}</td>
                <td>{{nonBankAccount.passwordUpdatedOn | date:'medium'}}</td>
                <td>{{nonBankAccount.expirationPeriodDays}}</td>
                <td jhiTranslate="{{'qeeperApp.AccountStatus.' + nonBankAccount.accountStatus}}">{{nonBankAccount.accountStatus}}</td>
                <td>{{nonBankAccount.remarks}}</td>
                <td>{{nonBankAccount.multipleSessionAllowed}}</td>
                <td>{{nonBankAccount.accountId}}</td>
                <td>
                    <div *ngIf="nonBankAccount.nonBankClientId">
                        <a [routerLink]="['../non-bank-client', nonBankAccount.nonBankClientId , 'view' ]" >{{nonBankAccount.nonBankClientName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="nonBankAccount.nonBankAccountGroupId">
                        <a [routerLink]="['../non-bank-account-group', nonBankAccount.nonBankAccountGroupId , 'view' ]" >{{nonBankAccount.nonBankAccountGroupName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/non-bank-account', nonBankAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/non-bank-account', nonBankAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'non-bank-account', { outlets: { popup: nonBankAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="nonBankAccounts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
