<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-non-bank-account-heading" jhiTranslate="qeeperApp.nonBankAccount.home.createOrEditLabel">Create or edit a Non Bank Account</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.loginId" for="field_loginId">Login Id</label>
                    <input type="text" class="form-control" name="loginId" id="field_loginId"
                           formControlName="loginId"/>
                    <div *ngIf="editForm.get('loginId').invalid && (editForm.get('loginId').dirty || editForm.get('loginId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loginId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loginId').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.loginPassword" for="field_loginPassword">Login Password</label>
                    <input type="text" class="form-control" name="loginPassword" id="field_loginPassword"
                           formControlName="loginPassword"/>
                    <div *ngIf="editForm.get('loginPassword').invalid && (editForm.get('loginPassword').dirty || editForm.get('loginPassword').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loginPassword').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loginPassword').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Email' }">
                            This field should follow pattern for "Email".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                    <div *ngIf="editForm.get('phone').invalid && (editForm.get('phone').dirty || editForm.get('phone').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phone').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Phone' }">
                            This field should follow pattern for "Phone".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.passwordGetsExpired" for="field_passwordGetsExpired">Password Gets Expired</label>
                    <input type="checkbox" class="form-control" name="passwordGetsExpired" id="field_passwordGetsExpired"
                           formControlName="passwordGetsExpired"/>
                    <div *ngIf="editForm.get('passwordGetsExpired').invalid && (editForm.get('passwordGetsExpired').dirty || editForm.get('passwordGetsExpired').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('passwordGetsExpired').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.passwordUpdatedOn" for="field_passwordUpdatedOn">Password Updated On</label>
                    <div class="d-flex">
                        <input id="field_passwordUpdatedOn" type="datetime-local" class="form-control" name="passwordUpdatedOn" formControlName="passwordUpdatedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.expirationPeriodDays" for="field_expirationPeriodDays">Expiration Period Days</label>
                    <input type="number" class="form-control" name="expirationPeriodDays" id="field_expirationPeriodDays"
                           formControlName="expirationPeriodDays"/>
                    <div *ngIf="editForm.get('expirationPeriodDays').invalid && (editForm.get('expirationPeriodDays').dirty || editForm.get('expirationPeriodDays').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('expirationPeriodDays').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('expirationPeriodDays')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.accountStatus" for="field_accountStatus">Account Status</label>
                    <select class="form-control" name="accountStatus" formControlName="accountStatus" id="field_accountStatus">
                        <option value="ACTIVE">{{'qeeperApp.AccountStatus.ACTIVE' | translate}}</option>
                        <option value="IN_USE">{{'qeeperApp.AccountStatus.IN_USE' | translate}}</option>
                        <option value="IN_ACTIVE">{{'qeeperApp.AccountStatus.IN_ACTIVE' | translate}}</option>
                        <option value="SUSPENDED">{{'qeeperApp.AccountStatus.SUSPENDED' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('accountStatus').invalid && (editForm.get('accountStatus').dirty || editForm.get('accountStatus').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accountStatus').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                    <div *ngIf="editForm.get('remarks').invalid && (editForm.get('remarks').dirty || editForm.get('remarks').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('remarks').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.multipleSessionAllowed" for="field_multipleSessionAllowed">Multiple Session Allowed</label>
                    <input type="checkbox" class="form-control" name="multipleSessionAllowed" id="field_multipleSessionAllowed"
                           formControlName="multipleSessionAllowed"/>
                    <div *ngIf="editForm.get('multipleSessionAllowed').invalid && (editForm.get('multipleSessionAllowed').dirty || editForm.get('multipleSessionAllowed').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('multipleSessionAllowed').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.accountId" for="field_accountId">Account Id</label>
                    <input type="text" class="form-control" name="accountId" id="field_accountId"
                           formControlName="accountId"/>
                    <div *ngIf="editForm.get('accountId').invalid && (editForm.get('accountId').dirty || editForm.get('accountId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accountId').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.nonBankClient" for="field_nonBankClient">Non Bank Client</label>
                    <select class="form-control" id="field_nonBankClient" name="nonBankClient" formControlName="nonBankClientId">
                        <option *ngIf="!editForm.get('nonBankClientId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="nonBankClientOption.id" *ngFor="let nonBankClientOption of nonbankclients; trackBy: trackNonBankClientById">{{nonBankClientOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('nonBankClientId').invalid && (editForm.get('nonBankClientId').dirty || editForm.get('nonBankClientId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('nonBankClientId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.nonBankAccount.nonBankAccountGroup" for="field_nonBankAccountGroup">Non Bank Account Group</label>
                    <select class="form-control" id="field_nonBankAccountGroup" name="nonBankAccountGroup" formControlName="nonBankAccountGroupId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="nonBankAccountGroupOption.id" *ngFor="let nonBankAccountGroupOption of nonbankaccountgroups; trackBy: trackNonBankAccountGroupById">{{nonBankAccountGroupOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
