<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nonBankAccount">
            <h2><span jhiTranslate="qeeperApp.nonBankAccount.detail.title">Non Bank Account</span> {{nonBankAccount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.loginId">Login Id</span></dt>
                <dd>
                    <span>{{nonBankAccount.loginId}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.loginPassword">Login Password</span></dt>
                <dd>
                    <span>{{nonBankAccount.loginPassword}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.name">Name</span></dt>
                <dd>
                    <span>{{nonBankAccount.name}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.email">Email</span></dt>
                <dd>
                    <span>{{nonBankAccount.email}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.phone">Phone</span></dt>
                <dd>
                    <span>{{nonBankAccount.phone}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.passwordGetsExpired">Password Gets Expired</span></dt>
                <dd>
                    <span>{{nonBankAccount.passwordGetsExpired}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.passwordUpdatedOn">Password Updated On</span></dt>
                <dd>
                    <span>{{nonBankAccount.passwordUpdatedOn}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.expirationPeriodDays">Expiration Period Days</span></dt>
                <dd>
                    <span>{{nonBankAccount.expirationPeriodDays}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.accountStatus">Account Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'qeeperApp.AccountStatus.' + nonBankAccount.accountStatus}}">{{nonBankAccount.accountStatus}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.remarks">Remarks</span></dt>
                <dd>
                    <span>{{nonBankAccount.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.multipleSessionAllowed">Multiple Session Allowed</span></dt>
                <dd>
                    <span>{{nonBankAccount.multipleSessionAllowed}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.accountId">Account Id</span></dt>
                <dd>
                    <span>{{nonBankAccount.accountId}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.nonBankClient">Non Bank Client</span></dt>
                <dd>
                    <div *ngIf="nonBankAccount.nonBankClientId">
                        <a [routerLink]="['/non-bank-client', nonBankAccount.nonBankClientId, 'view']">{{nonBankAccount.nonBankClientName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="qeeperApp.nonBankAccount.nonBankAccountGroup">Non Bank Account Group</span></dt>
                <dd>
                    <div *ngIf="nonBankAccount.nonBankAccountGroupId">
                        <a [routerLink]="['/non-bank-account-group', nonBankAccount.nonBankAccountGroupId, 'view']">{{nonBankAccount.nonBankAccountGroupName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/non-bank-account', nonBankAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
