<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-mobile-number-heading" jhiTranslate="qeeperApp.mobileNumber.home.createOrEditLabel">Create or edit a Mobile Number</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mobileNumber.number" for="field_number">Number</label>
                    <input type="text" class="form-control" name="number" id="field_number"
                           formControlName="number"/>
                    <div *ngIf="editForm.get('number').invalid && (editForm.get('number').dirty || editForm.get('number').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('number').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('number').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Number' }">
                            This field should follow pattern for "Number".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mobileNumber.assetTag" for="field_assetTag">Asset Tag</label>
                    <input type="text" class="form-control" name="assetTag" id="field_assetTag"
                           formControlName="assetTag"/>
                    <div *ngIf="editForm.get('assetTag').invalid && (editForm.get('assetTag').dirty || editForm.get('assetTag').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('assetTag').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mobileNumber.operator" for="field_operator">Operator</label>
                    <select class="form-control" name="operator" formControlName="operator" id="field_operator">
                        <option value="AIRTEL">{{'qeeperApp.Operator.AIRTEL' | translate}}</option>
                        <option value="VODAFONE">{{'qeeperApp.Operator.VODAFONE' | translate}}</option>
                        <option value="JIO">{{'qeeperApp.Operator.JIO' | translate}}</option>
                        <option value="IDEA">{{'qeeperApp.Operator.IDEA' | translate}}</option>
                        <option value="UNINOR">{{'qeeperApp.Operator.UNINOR' | translate}}</option>
                        <option value="OTHER">{{'qeeperApp.Operator.OTHER' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('operator').invalid && (editForm.get('operator').dirty || editForm.get('operator').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('operator').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mobileNumber.mobileConnectionPlan" for="field_mobileConnectionPlan">Mobile Connection Plan</label>
                    <select class="form-control" name="mobileConnectionPlan" formControlName="mobileConnectionPlan" id="field_mobileConnectionPlan">
                        <option value="PREPAID">{{'qeeperApp.MobileConnectionPlan.PREPAID' | translate}}</option>
                        <option value="POSTPAID">{{'qeeperApp.MobileConnectionPlan.POSTPAID' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mobileNumber.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                    <div *ngIf="editForm.get('remarks').invalid && (editForm.get('remarks').dirty || editForm.get('remarks').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('remarks').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mobileNumber.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                    <div *ngIf="editForm.get('active').invalid && (editForm.get('active').dirty || editForm.get('active').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('active').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qeeperApp.mobileNumber.registeredTo" for="field_registeredTo">Registered To</label>
                    <select class="form-control" id="field_registeredTo" name="registeredTo" formControlName="registeredToId">
                        <option *ngIf="!editForm.get('registeredToId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('registeredToId').invalid && (editForm.get('registeredToId').dirty || editForm.get('registeredToId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('registeredToId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
