<div>
    <h2 id="page-heading">
        <span jhiTranslate="qeeperApp.mobileNumber.home.title">Mobile Numbers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mobile-number" [routerLink]="['/mobile-number/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="qeeperApp.mobileNumber.home.createLabel">
            Create new Mobile Number
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mobileNumbers?.length === 0">
        <span jhiTranslate="qeeperApp.mobileNumber.home.notFound">No mobileNumbers found</span>
    </div>
    <div class="table-responsive" *ngIf="mobileNumbers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="number"><span jhiTranslate="qeeperApp.mobileNumber.number">Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="assetTag"><span jhiTranslate="qeeperApp.mobileNumber.assetTag">Asset Tag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="operator"><span jhiTranslate="qeeperApp.mobileNumber.operator">Operator</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mobileConnectionPlan"><span jhiTranslate="qeeperApp.mobileNumber.mobileConnectionPlan">Mobile Connection Plan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="qeeperApp.mobileNumber.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span jhiTranslate="qeeperApp.mobileNumber.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="registeredToName"><span jhiTranslate="qeeperApp.mobileNumber.registeredTo">Registered To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mobileNumber of mobileNumbers ;trackBy: trackId">
                <td><a [routerLink]="['/mobile-number', mobileNumber.id, 'view' ]">{{mobileNumber.id}}</a></td>
                <td>{{mobileNumber.number}}</td>
                <td>{{mobileNumber.assetTag}}</td>
                <td jhiTranslate="{{'qeeperApp.Operator.' + mobileNumber.operator}}">{{mobileNumber.operator}}</td>
                <td jhiTranslate="{{'qeeperApp.MobileConnectionPlan.' + mobileNumber.mobileConnectionPlan}}">{{mobileNumber.mobileConnectionPlan}}</td>
                <td>{{mobileNumber.remarks}}</td>
                <td>{{mobileNumber.active}}</td>
                <td>
                    <div *ngIf="mobileNumber.registeredToId">
                        <a [routerLink]="['../employee', mobileNumber.registeredToId , 'view' ]" >{{mobileNumber.registeredToName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/mobile-number', mobileNumber.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mobile-number', mobileNumber.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'mobile-number', { outlets: { popup: mobileNumber.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="mobileNumbers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
