<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mobileNumber">
            <h2><span jhiTranslate="qeeperApp.mobileNumber.detail.title">Mobile Number</span> {{mobileNumber.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qeeperApp.mobileNumber.number">Number</span></dt>
                <dd>
                    <span>{{mobileNumber.number}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mobileNumber.assetTag">Asset Tag</span></dt>
                <dd>
                    <span>{{mobileNumber.assetTag}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mobileNumber.operator">Operator</span></dt>
                <dd>
                    <span jhiTranslate="{{'qeeperApp.Operator.' + mobileNumber.operator}}">{{mobileNumber.operator}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mobileNumber.mobileConnectionPlan">Mobile Connection Plan</span></dt>
                <dd>
                    <span jhiTranslate="{{'qeeperApp.MobileConnectionPlan.' + mobileNumber.mobileConnectionPlan}}">{{mobileNumber.mobileConnectionPlan}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mobileNumber.remarks">Remarks</span></dt>
                <dd>
                    <span>{{mobileNumber.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mobileNumber.active">Active</span></dt>
                <dd>
                    <span>{{mobileNumber.active}}</span>
                </dd>
                <dt><span jhiTranslate="qeeperApp.mobileNumber.registeredTo">Registered To</span></dt>
                <dd>
                    <div *ngIf="mobileNumber.registeredToId">
                        <a [routerLink]="['/employee', mobileNumber.registeredToId, 'view']">{{mobileNumber.registeredToName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mobile-number', mobileNumber.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
