<div>
    <h2 id="page-heading">
        <span jhiTranslate="qeeperApp.nonBankAccountGroup.home.title">Non Bank Account Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-non-bank-account-group" [routerLink]="['/non-bank-account-group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="qeeperApp.nonBankAccountGroup.home.createLabel">
            Create new Non Bank Account Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="nonBankAccountGroups?.length === 0">
        <span jhiTranslate="qeeperApp.nonBankAccountGroup.home.notFound">No nonBankAccountGroups found</span>
    </div>
    <div class="table-responsive" *ngIf="nonBankAccountGroups?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="qeeperApp.nonBankAccountGroup.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="qeeperApp.nonBankAccountGroup.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nonBankAccountGroup of nonBankAccountGroups ;trackBy: trackId">
                <td><a [routerLink]="['/non-bank-account-group', nonBankAccountGroup.id, 'view' ]">{{nonBankAccountGroup.id}}</a></td>
                <td>{{nonBankAccountGroup.code}}</td>
                <td>{{nonBankAccountGroup.name}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/non-bank-account-group', nonBankAccountGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/non-bank-account-group', nonBankAccountGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'non-bank-account-group', { outlets: { popup: nonBankAccountGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="nonBankAccountGroups?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
